.artzone {
    padding: 10rem 0 0;


    .container {
        position: relative;
    }
    @media (max-width: $mobile) {
      padding: 12px 0px 0;
    }

    @media (min-width: $tablet) {
        .js-anim-bottom,
        .js-anim-scale,
        .js-anim-scale-visit {
            opacity: 0;
        }
    }

    &__title {
      @media (max-width: $mobile) {
        margin: 0 0 30px;
      }
    }


    &__ornament {
        position: absolute;
        z-index: 0;

        @media (max-width: $mobile) {
          display: none;
        }

        &--flakes {
            top: 20.4rem;
            left: 17.1rem;
            width: 126.3rem;
            height: 86.9;
        }

        &--dots {
            top: 20.4rem;
            right: 3.1rem;
            width: 105.1rem;
            height: 83.1;
        }

        &--dots2 {
            bottom: -4.6rem;
            left: 7.1rem;
            width: 105.1rem;
            height: 83.1;
        }
    }

    &__mobile-ornament {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;

      @media (max-width: $mobile) {
        display: block;

      }
    }

    &__wrapper {
        position: relative;
        z-index: 1;
    }

    &__title {
        width: 50%;

        @media (max-width: $mobile) {
          width: 100%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__header-content {
        width: 48.5%;

        button {
          opacity: 0;
        }

        @media (max-width: $mobile) {
          width: 100%;
          margin: 0px 0 39px;

          button {
           display: none;
          }
        }

        p {
            font-size: 2rem;
            line-height: 2.4rem;
            margin: 0 0 4rem;
            max-width: 40.4rem;

            @media (max-width: $mobile) {
              margin: 0;
              max-width: 100%;
            }
        }
    }

    &__subtitle {
        font-size: 3.1rem;
        line-height: 3.7rem;
        margin: 0 0 2rem;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: $mobile) {
          font-size: 20px;
          line-height: 24px;
          text-transform: none;
          margin: 0 0 10px;
        }

        &--question {
            margin: -3rem 0 0;

            @media (max-width: $mobile) {
              margin: 0;
              text-transform: uppercase;
            }
        }
    }

    &__content {
        position: relative;
        padding: 10.5rem 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $mobile) {
          padding: 33px 0 0;
          max-width: 475px;
          margin: 0 auto;
        }
    }

    &__create {
        width: 46.3%;

        @media (max-width: $mobile) {
          width: 100%;
          order: 1;
        }
    }

    &__visit {
        width: 53.7%;
        margin: -2.8rem 0 0;

        @media (max-width: $mobile) {
          width: 100%;
          margin: 0;
          display: flex;
          justify-content: flex-end;
          order: 2;
        }
    }

    &__time {
      margin: 5.2rem 0 0 43rem;

      @media (max-width: $tablet) {
        margin: -1rem 0 0 25rem;
      }

      @media (max-width: $mobile) {
        order: 4;
        margin: -70px 0 0 169px;
      }
    }

    &__learn {
        margin: -6rem 8rem 0 0;

        @media (max-width: $mobile) {
          width: 100%;
          margin: 0;
          order: 3;
        }
    }

    &__circle {
        position: relative;
        border-radius: 50%;
        text-align: center;
        color: $darkblue;
        padding: 11.2rem 7.6rem 0;
        z-index: 2;

        @media (max-width: $mobile) {
          padding: 37px 27px 0;
        }

        h6 {
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 700;
            margin: 0 0 1.5rem;
            text-transform: uppercase;

            @media (max-width: $mobile) {
              font-size: 16px;
              line-height: 1.2;
              margin: 0 0 4px;
            }
        }

        p {
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 500;
            margin: 0 0 1.4rem;

            @media (max-width: $mobile) {
              font-size: 12px;
              line-height: 14px;
            }

        }

        span {
            display: block;
            font-size: 1.4rem;
            line-height: 1.9rem;

            @media (max-width: $mobile) {
              font-size: 10px;
              line-height: 1.2;
            }
        }

        &--create {
            width: 45rem;
            height: 45rem;
            background-color: $yellow;
            padding: 10.4rem 7.6rem 0;

            @media (max-width: $mobile) {
              width: 193px;
              height: 193px;
              padding: 37px 27px 0;
            }
        }

        &--visit {
            width: 41.4rem;
            height: 41.4rem;
            background-color: $pink;
            color: $white;

            @media (max-width: $mobile) {
              width: 177px;
              height: 177px;
              padding: 41px 22px 0;
              margin: -51px 0 0;
            }
        }

        &--learn {
            width: 38.2rem;
            height: 38.2rem;
            padding: 10.2rem 4.2rem 0;
            background-color: $lighterBlue;

            @media (max-width: $mobile) {
              width: 164px;
              height: 164px;
              padding: 41px 22px 0;
              margin: -67px 0 0;
            }
        }

        &--time {
          width: 25.9rem;
          height: 25.9rem;
          color: $yellow;
          border: 1px solid $white;
          background-color: $darkblue;
          padding: 9rem 2rem 0;

          @media (max-width: $mobile) {
            width: 138px;
            height: 138px;
            padding: 28px 20px;

            h6 {
              font-size: 12px;
              line-height: 14px;
            }

            p {
              font-size: 10px;
              line-height: 12px;
            }
          }

          h6 {
            font-size: 1.6rem;
            line-height: 1.8rem;
          }

          p {
            font-size: 1.6rem;
            line-height: 1.8rem;

          }
        }

    }

}
