.calendar {
  padding: 8rem 0 8rem;
  background-color: $blue;
  border-radius: 20px;

  @media (max-width: $mobile) {
    padding: 40px 0 32px;
    border-radius: 15px;
  }

  &__description {
    width: 35%;

    @media (max-width: $mobile) {
      width: 100%;
      margin: 0 0 28px;
    }
  }

  &__text {
    margin: 0 0 5rem;
    font-size: 2rem;
    line-height: 1.2;

    @media (max-width: $mobile) {
      font-size: 14px;
      margin: 0 0 11px;

      p {
        margin: 0 0 10px;
      }
    }


  }

  &__subtitle {
    font-size: 3.1rem;
    line-height: 3.7rem;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: $mobile) {
      text-transform: none;
      font-size: 20px;
      line-height: 24px;
    }

    span {
      color: $yellow;

      @media (max-width: $mobile) {
        text-transform: uppercase;
      }
    }
  }

  &__body {
    width: 52%;
    margin: 0 -1.5%;

    @media (max-width: $mobile) {
      width: auto;
      margin: 0 -12px;
      max-width: 450px;
    }
  }

  &__title {
    margin: 0 0 6rem;

    @media (max-width: $mobile) {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 33px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }


  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4.1rem;
    padding: 0 3rem;

    @media (max-width: $mobile) {
      margin: 0 0 24px;
    }

  }

  &__month-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    color: $white;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: $mobile) {
      font-size: 12px;
      line-height: 1.2;
    }


  }

  &__arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: $white;
    transition: color 0.1s ease;

    @media (max-width: $mobile) {
      svg {
        width: 15px;
        height: 15px;
      }
    }

    &:hover {
      color: $pink;
    }

    &--disabled {
      opacity: 0;
      pointer-events: none;
    }

    &--prev {
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    width: 100%;
    margin: 0 0 4.1rem;

    @media (max-width: $mobile) {
      margin: 0 0 15px;
    }
  }

  &__header-cell {
    flex-grow: 1;
    text-align: center;
    color: $white;
    font-size: 2.2rem;
    line-height: 2.6rem;

    @media (max-width: $mobile) {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 0;
    width: calc(100% / 7);

    @media (max-width: $mobile) {
      font-size: 11px;
      line-height: 13px;
      padding: 0;
    }

    &:hover {
      a {
        color: $pink;
      }
    }

    &--disabled {
      opacity: 0.5;
      cursor: auto;
      pointer-events: none;
    }

    &--otherMonth {
      opacity: 0;
    }

    // &--today {
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     width: 5.6rem;
    //     height: 5.6rem;
    //     border-radius: 50%;
    //     background-color: $pink;
    //     z-index: 0;
    //   }

    //   &:hover {
    //     a {
    //       color: $white;
    //     }
    //   }
    // }

    a {
      position: relative;
      z-index: 2;
      color: $white;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem 0;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      @media (max-width: $mobile) {
        padding: 10px 0;
      }
    }


  }
}
