.faq {
  position: relative;
  z-index: 4;
  padding: 5.9rem 0 8.2rem;

  &__title {
    font-size: 5rem;
    line-height: 5.9rem;
    font-weight: 700;
    color: $blue;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 6.1rem;

    @media (max-width: $tablet) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__accordeon {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: $tablet) {
      max-width: calc(100% - 48px);
    }
  }

  &__item {
    width: 100%;
    border-bottom: 2px solid $black;
    margin: 0 0 3rem;
    padding: 0 2rem 1.7rem;
  }

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blue;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.6rem;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 0 1.5rem;
    &.active {
      img {
        transform: rotate(-90deg);
      }
    }

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 19px;
      text-align: left;
    }
  }

  &__content {
    display: none;
    color: $black;
    font-size: 3rem;
    line-height: 3.6rem;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 17px;
    }

    &.active {
      display: block;
    }
  }
}
