.header {
  position: relative;
  padding: 0 0 10rem;

  &__logo {
    position: relative;
    margin: 2.8rem 0 0;
    z-index: 5;
    img {
      width: 100%;
    }
  }

  &__hero {
    margin-top: -4.5rem;
  }


}
