.hero {

    &__video-wrapper {
        position: relative;
    }

    &__bg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__bg-announce {
        position: absolute;
        z-index: 3;
        top: 5.6rem;
        left: 4.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background:$pink;
        transform: rotate(-8.71deg);
        width: 24.5rem;
        height: 24.5rem;
        border-radius: 50%;
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(25, 53, 119, 0.67);

        p {
            margin: 1.4rem 0 0;
            letter-spacing: 0.07rem;
        }

        @media (max-width: $mobile) {
            width: 124px;
            height: 124px;
            top: 24px;
            left: -11px;
        }

        @media (max-width: $tablet) {
            width: 124px;
            height: 124px;
            font-size: 14px;
            line-height: 1.2;
            p {
                margin: 0;
            }
        }

        @media (max-width: $mobile) {
            width: 104px;
            height: 104px;
            font-size: 12px;
            line-height: 1.2;
            p {
                margin: 0;
            }
        }
    }

    &__bg-days {
      position: absolute;
      top: 17.3rem;
      left: 23.6rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 50%;
      width: 19.4rem;
      height: 19.4rem;
      background-color: $blue;
      border: 1px solid $white;
      text-align: center;
      padding: 4.4rem 3.3rem 0;
      z-index: 3;

      h6 {
        font-weight: 700;
        margin: 0 0 0.5rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 0;
      }

      @media (max-width: $tablet) {
        z-index: 2;
        top: 18.3rem;
        left: 12.6rem;
      }

      @media (max-width: $mobile) {
        top: 117px;
        left: 23px;
        width: 111px;
        height: 111px;
        padding: 20px 18px 0;
        padding: 20px 18px 0;
        h6, p {
          font-size: 9px;
          line-height: 10px;
        }


      }
    }


    &__video-wrapper {
        width: 100%;
        height: 43.5rem;

        @media (max-width: $tablet) {
            height: 70.5rem;
        }

        @media (max-width: $mobile) {
            height: 335px;
        }

    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        border-radius: 25px 25px 0 0;

        @media (max-width: $mobile) {
            border-radius: 15px 15px 0px 0px;
            overflow: hidden;
        }
    }

    &__tops {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
        margin: -3rem 0 0;
        z-index: 5;

        @media (max-width: $mobile) {
           flex-direction: column;
           margin: -40px 0 0;
        }
    }

    &__tops-item-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__tops-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9.7rem;
        padding: 1rem 2rem;
        width: 33.3333%;
        color: $darkblue;
        border-radius: 25px;

        @media (max-width: $mobile) {
            border-radius: 15px;
            width: 100%;
            height: auto;

        }

        &_yellow {
            background-color: $yellow;

            @media (max-width: $mobile) {
                padding: 13px 0;
            }
        }

        &_pink {
            background-color: $lightpink;

            @media (max-width: $mobile) {
                padding: 18px 0;
            }
        }

        &_blue {
            background-color: $lightestBlue;
            width: 36%;

            @media (max-width: $mobile) {
                width: 100%;
                padding: 19px 0 17px;
            }
        }

        svg {
            flex-shrink: 0;
            margin: .4rem 1rem 0 0;

            @media (max-width: $mobile) {
                width: 12px;
                height: 12px;

            }
        }

        p {
            font-size: 2.5rem;
            line-height: 3rem;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;

            @media (max-width: $mobile) {
                font-size: 16px;
                line-height: 1.2;

            }
        }
    }

}
