.info {
    padding: 23rem 0 39.4rem;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
    }

    &__ornament {
        position: absolute;

        &--whites {
            top: 1.4rem;
            left: -12.5rem;
        }

        &--blue-right-top {
            top: -12.6rem;
            right: 10.1rem;
        }

        &--blue-right-bottom {
            bottom: -9.5rem;
            right: -33rem;
        }

        &--blue-left-bottom {
            bottom: 0;
            left: -11rem;
        }

        &--color-top {
            top: -23.3rem;
            left: 51rem;
        }

        &--color-left {
            bottom: -2rem;
            left: 13rem;
        }

        &--color-bottom {
            bottom: -17.8rem;
            right: 36.3rem;
        }

    }

    &__snowflake {
        margin: 0 0 10rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        opacity: 0;
    }

    &__text {
        font-size: 5rem;
        line-height: 6rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 6rem;
    }
}
