.info {
    padding: 21.5rem 0 39.5rem;
    position: relative;
    overflow: hidden;

    &__ornament {
        position: absolute;

        &--whites {
            top: 18rem;
            left: -3.4rem;
            height: 157px;
        }

        &--blues {
            top: 3.7rem;
            right: -0.6rem;
            width: 101%;
            max-width: initial;
        }

        &--colors {
            top: 10rem;
            left: 39%;
            transform: translate(-50%,0);
        }

    }

    &__snowflake {
        margin: 0 0 10rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    &__text {
        font-size: 5rem;
        line-height: 6rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 6rem;
    }
}
