.location {
    position: relative;
    padding: 19.9rem 0 10rem;

    .container {
        position: relative;
    }

    &__ornament {
        position: absolute;
        max-width: initial;
        z-index: 0;

        &--blue {
            top: -3.5rem;
            right: -33.4rem;
        }

        &--white {
            top: 34rem;
            left: -25.4rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
    .swiper__nav {
        position: relative;
        display: flex;
        gap: 1rem;
        z-index: 1;
    }

    .swiper__control {
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    .swiper__prev {
      transform: rotate(180deg);
    }
}
