.location {
    position: relative;
    padding: 19.9rem 0 10rem;

    &__ornament {
        position: absolute;
        top: 7.9rem;
        left: -0.7rem;
        width: 101%;
        max-width: initial;
        z-index: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
    .swiper__nav {
        position: relative;
        display: flex;
        gap: 1rem;
        z-index: 1;
    }

    .swiper__control {
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    .swiper__prev {
      transform: rotate(180deg);
    }
}
