.location {
    position: relative;
    padding: 19.7rem 0 10rem;

    .container {
        position: relative;
    }

    @media (min-width: $tablet) {
        .js-title,
        .js-nav,
        .swiper-slide {
            opacity: 0;
        }
    }


    &__ornament {
        position: absolute;
        max-width: initial;
        z-index: 0;

        &--blue {
            top: 6.5rem;
            right: -33.4rem;
            width: 81.7rem;
            height:71.9rem;
        }

        &--white {
            top: 22rem;
            left: -25.4rem;
            width: 36.5rem;
            height: 30.7rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
    .swiper__nav {
        position: relative;
        display: flex;
        gap: 1rem;
        z-index: 1;
    }

    .swiper__control {
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0;
        background: none;
        margin: 0;
        border: none;
        color: $white;

        &:hover {
            color: $pink;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    .swiper__prev {
      transform: rotate(180deg);
    }

}
