.partners {
    padding: 9rem 0 14.5rem;

    .container {
      @media (max-width: $mobile) {
        padding: 0;
      }

    }

    @media (max-width: $mobile) {
      padding: 29px 0 5px;
    }

    &__title {
      svg {
        display: none;
      }

      @media (max-width: $mobile) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        padding: 0 20px;
        margin: 0 0 30px;

        svg {
          display: block;
          margin: 9px 0 0;
        }
      }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        &--reverse {
            flex-direction: row-reverse;
            margin: 2.9rem 0 0;

            @media (max-width: $mobile) {
              margin: 0;
            }
        }


    }

    &__blocks {
      @media (max-width: $mobile) {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 0 20px 0 20px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 0;
          height: 0;
          display: none;
      }
      }
    }

    &__circles {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 37.5%;
        justify-content: space-between;

        @media (max-width: $tablet) {
          width: 45%;

        }

        @media (max-width: $mobile) {
          width: auto;
          gap: 20px;

        }
    }

    &__snowflakes {
        flex-shrink: 1;
        display: flex;
        justify-content: space-between;
        width: 45.5%;
        margin: 0 11.7rem 5.6rem 0;

        &--reverse {
            margin: 0rem 0 2.5rem 12.7rem;
        }

        @media (max-width: $mobile) {
          display: none;
        }
    }

    &__partner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22.7rem;
        height: 22.7rem;
        border-radius: 50%;
        border: 1px solid $white;
        flex-shrink: 0;

        @media (max-width: $mobile) {
          width: 112px;
          height: 112px;
          flex-shrink: 0;
        }

        img {
            max-width: 80%;
        }
    }
}
