.title {
  font-weight: bold;
  font-size: 5rem;
  line-height: 5.9rem;
  color: $blue;
  width: 43.5rem;
  border: 2px solid $blue;
  box-sizing: border-box;
  border-radius: 200px;
  text-transform: uppercase;
  padding: 18px;
  margin: 0;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 28px;
    width: 200px;
    padding: 5px 18px;
  }
}
